<header>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'global/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <div>
        <a href="{% url 'crud:index' %}">Home</a>
        <a href="{% url 'crud:search' %}">Search</a>
        <a href="{% url 'crud:create' %}">Create</a>
    </div>
</header>
<body>
    <div class="body">
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    <span>Created by Luke Shays</span>
</footer>